@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Verydark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 36vh, left 48vw top 49vh;
}

@media(max-width:550px){
    body{
        background-position: right 48vw bottom 46vh, left 46vw top 40vh;
    }
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.wrapper{
    background-color: white;
    border-radius: 15px;    
}

.container h2{
    font-size: 18px;
    color: var(--Verydark-desaturated-blue);
}

.container .container_back_top span{
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    padding-left: .5rem;
}

.container p{
    color: var(--Dark-grayish-blue);
}

.container .container_back_top p{
    font-size: 14px;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.container .wrapper .container_back_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .wrapper .background{
    border-radius: 15px 15px 0 0;
}

.container .wrapper .container_back_top img{
    border-radius:50%;
    border: 4px solid white;
    height: 106px;
    width: 106px;
    margin-top: -55px;
    margin-bottom: 1.3rem;
}

.container .wrapper .container_back_btm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 59%, .2);
    padding: 1.5rem 3rem;
}

.container .wrapper .container_back_btm p{
    font-size: 12px;
    padding-top: .3rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }